<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/blog/' | relative_url }}">Blog</a>
    <a href="{{ '/blog/my-first-article/' | relative_url }}">First Article</a>
  </nav>

  <main>
    {{ content }}
  </main>

</body>
</html>
